@import "normalize.css";

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 7em;
}

/*.trapezoid {
    transform: perspective(600px) rotateX(45deg) scale(1.4, 1.4);
}*/

#sorter {
    height: 40px;
    width: 98%;
    display: block;
    margin-bottom: 30px;
}

#provinces {
    margin-left: -7px;
}

.card {
    border-radius: 4px;
    float: left;
    color: #fff;
    background-color: #337ab7;
    padding: 10px 15px;
    margin: 0 7px 10px 7px;
    width: 31%;
}
.card a {
    color: #FFF;
}

/* Items */
.activities {
    margin:0;
    padding:0;
}

.activities li {
    border-radius: 4px;
    background: #eee;
    float: left;
    width: 31%;
    margin: 10px 1%;
    list-style: none;
    padding: 10px 15px;
}

.single-activity .title {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

.single-activity .subtitle {
    font-size: 13px;
    font-style: italic;
}





}



